<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Advisagator</title>
    </head>
    <body>
        <h1>Welcome to <i>Advisagator</i></h1>
        <a href="/login">Login</a>
        <hr>
        <p>This is a tool for students to effectively communicate with their advisors.</p>
    </body>
</html>
