<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Advisagator</title>
    </head>
    <body class="container">
      <header>Advisagator</header>
      <main class="mainLogin">
        <h3>Invalid login!</h3>
        <a href="/login">Try again</a>
      </main>
    </body>
    <footer>
    <p id="footer-size"></p>
  </footer>
</html>
