<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Advisagator</title>
    </head>
    <body class="container">
      <header>Advisagator</header>
      <main class="mainLogin">
        <div id="loginBox">
        <form action="/login" method="POST">
            <input type="email" name="email">
            <input type="password" name="password">
            <br>
            <input type="submit" value="Log in">
        </form>

      <p>Don't have a login? Sign in as a <a href="#" style="text-decoration: none;">Guest</a>.</p>
        </div>
      </main>
    </body>
    <footer>
    <p id="footer-size"></p>
  </footer>
</html>
