body {
  font-family: arial;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #042342;
  color: gold;
  border-bottom: 2px solid gold;
}

main {
  flex: 1;
  grid-column: span 3;
  padding: 20px;
  background-size: cover;
  position: relative;
}

.mainLogin {
  background-image: url("../assets/images/allegheny.jpg");
}

.mainMenu {
  background-color: white;
}

.accordion-toggle {}

.accordion-content {
  display: block;
}

@media (max-width: 600px) {

  .accordion-toggle {
    cursor: pointer;
  }
  .accordion-content {
    display: none;
  }
  .accordion-content.default {
    display: block;
  }
}

nav {
  background-color: #f90;
  padding: 20px;
}

aside {
  padding: 20px;
  background-color: #936;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #042342;
  color: gold;
  border-top: 2px solid gold;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

#loginBox {
  background-color: #042342;
  color: gold;
  width: 300px;
  border: 3px solid gold;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  position: absolute;
  /* Our parent is main. So we need to set position to absolute to allow us to center within main */
  top: 50%;
  /*These paramaters allow us to center our login box within main */
  left: 50%;
  transform: translate(-50%, -50%);
}

.button{
  border-radius: 25px;
  border: 10px;
  background-color: #606772;
  width: 25%;
  padding: 3px;

}

button{
    text-decoration: none;
    border-radius: 25px;
    /*width: 40%;*/
    color: black;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .mainLogin{
        background-image: none;
        background-color: white;
    }

    input{
        background-color: lightgray;
        border-radius: 25px;
        border: black;
        color: black;
        padding: 13px;
        width: 100%;
    }
    button{
        border: black;
        font-size: 20px;
        text-decoration: none;
        border-radius: 25px;
        padding: 7px;
        /*width: 40%;*/
        color: black;
    }
    #loginBox{
        text-align: left;
        border: none;
        padding: none;
        margin: 0 auto;
        background-color: white;
        color: black;
    }
    a{
        color: blue;
    }
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.centerText {
  text-align: center;
}

#footer-size {
  font-size: 10px;
}

table, td, th {
    border: 2px solid #ddd;
    text-align: left;
    text-align: center;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  background-color: lightblue;
}

a.noDecGold {
  text-decoration: none;
  color: gold;
}

.pBorder{
  border-style: solid;
  border-width: 2px;
  border-left: -50%;
}

.center {
    text-align: center;
}
